* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
    font-family: 'Open Sans', 'San Francisco', 'Lato', sans-serif;
}

h5 {
    margin: 0px;
}

p {
    font-size: 10px;
    color: rgb(140, 140, 140);
    font-weight: bold
}

a {
    text-decoration: none;
}

.background-color {
    background: rgb(243, 244, 247);
    /* background: linear-gradient(147deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(229, 230, 232, 1) 100%); */
}